<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/vendor/theme/css/site.css">

	<link rel="stylesheet" href="/vendor/fonts/awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/vendor/fonts/web-icons/web-icons.css">

	<script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

</head>

<body class="site-contabs-open site-menubar-unfold">

	<div class="page animation-fade">
	    <div class="page-header">
	        <h1 class="page-title">媒体</h1>

	    </div>
	    <div class="page-content">
	        <div class="panel">
	            <div class="panel-body container-fluid">
	                <div class="row row-lg">
	                    <div class="col-xl-6">
	                        <div class="example-wrap">
	                            <h4 class="example-title">默认</h4>
	                            <div class="example">
	                                <div class="media">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
											这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                        <div class="media mt-20">
	                                            <div class="pr-20">
	                                                <a href="javascript:;">
	                                                    <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                                </a>
	                                            </div>
	                                            <div class="media-body">
	                                                <h4 class="mt-0 mb-5">媒体标题</h4>
	                                                这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                    </div>
	                    <div class="col-xl-6">

	                        <div class="example-wrap">
	                            <h4 class="example-title">媒体列表</h4>
	                            <div class="example">
	                                <div class="media">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                        <div class="media mt-20">
	                                            <div class="pr-20">
	                                                <a href="javascript:;">
	                                                    <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                                </a>
	                                            </div>
	                                            <div class="media-body">
	                                                <h4 class="mt-0 mb-5">嵌套媒体标题</h4>
	                                                这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                            </div>
	                                        </div>
	                                        <div class="media mt-20">
	                                            <div class="pr-20">
	                                                <a href="javascript:;">
	                                                    <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                                </a>
	                                            </div>
	                                            <div class="media-body">
	                                                <h4 class="mt-0 mb-5">嵌套媒体标题</h4>
	                                                这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">嵌套媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                    </div>
	                </div>
	                <div class="row row-lg">
	                    <div class="col-xl-6">

	                        <div class="example-wrap">
	                            <h4 class="example-title">带头像的媒体列表</h4>
	                            <div class="example">
	                                <div class="media">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">嵌套媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">嵌套媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">嵌套媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                    </div>
	                    <div class="col-xl-6">

	                        <div class="example-wrap">
	                            <h4 class="example-title">大小</h4>
	                            <div class="example">
	                                <div class="media media-xs">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-60" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media media-sm mt-20">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-80" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media media mt-20">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                                <div class="media media-lg mt-20">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                    </div>
	                </div>
	                <div class="row row-lg">
	                    <div class="col-xl-6">

	                        <div class="example-wrap m-lg-0">
	                            <h4 class="example-title">含按钮</h4>
	                            <div class="example">
	                                <div class="media media-sm">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                        <p class="mt-10">
	                                            <a class="btn btn-sm btn-warning" href="javascript:;" role="button">编辑</a>
	                                            <a class="btn btn-sm btn-default" href="javascript:;" role="button">取消</a>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="media media-sm mt-20">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                        <p class="mt-10">
	                                            <a class="btn btn-sm btn-danger" href="javascript:;" role="button">确认</a>
	                                            <a class="btn btn-sm btn-default" href="javascript:;" role="button">取消</a>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="media media-sm mt-20">
	                                    <div class="pr-20">
	                                        <a class="avatar avatar-lg" href="javascript:;">
	                                            <img src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">媒体标题</h4>
	                                        T这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                        <p class="mt-10">
	                                            <a class="btn btn-sm btn-primary" href="javascript:;" role="button">保存</a>
	                                            <a class="btn btn-sm btn-default" href="javascript:;" role="button">取消</a>
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                    </div>
	                    <div class="col-xl-6">

	                        <div class="example-wrap">
	                            <h4 class="example-title">对齐方式</h4>
	                            <div class="example">
	                                <div class="media">
	                                    <div class="pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">顶部对齐</h4>
	                                        <p>
	                                            这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。</p>
	                                    </div>
	                                </div>
	                                <div class="media mt-20">
	                                    <div class="media-middle pr-20">
	                                        <a href="javascript:;">
	                                            <img class="w-120" src="/vendor/theme/img/demo.gif" alt="...">
	                                        </a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4 class="mt-0 mb-5">上下对齐</h4>
	                                        <p>
	                                            这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

</body>
</html>
