<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="author" content="GaryWang">
	<meta name='renderer' content='webkit'>
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' >
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<title></title>
	<link href="/project/meeting/css/basic.css" rel="stylesheet" type="text/css" />
	<script>
        function autoScale(){
            var winW = document.documentElement.clientWidth;
            return Math.min (1,Math.min(winW / 1920));
        }
        document.documentElement.style.cssText = 'font-size:'+(100 * autoScale())+'px';
        //1rem = 100px
	</script>
	
</head>
<body>
	<div class="wrap" id="app" :class="show">
		<canvas id="background"></canvas>
		<div class="top flex flex-jus-between">
			<div class="f40 flex flex-jus-start c-white">
				<img src="/project/meeting/images/ico-floor.svg" class="w58 block m-r-15"/>
				{{floor}}
			</div>
			<div class="flex flex-column">
				<img src="/project/meeting/images/logo.png" class="w170 block" />
			</div>
			<div class="f34 flex flex-jus-end c-white">
				<img src="/project/meeting/images/ico-time.svg" class="w58 block m-r-15"/>
				<div id="time">{{time}}</div>
			</div>
		</div>

		<div class="content flex flex-jus-between">
			<!-- 当前会议 -->
			<div class="progress f40 c-333" v-if="nowType">
				<div class="p-b-60">
					当前会议
					<!-- <small class="c-green f30 countdown">({{nowType && countdown}})</small> -->
				</div>
				<div class="m-b-25 nowrap">
					{{nowType && nowName}}
				</div>
				<div class="m-b-25">
					{{nowType && nowTime}}
				</div>
				<div class="m-b-25 nowrap">{{nowType && nowDepartment}}</div>
				<div class="m-b-80 nowrap">
					{{nowType && nowOrganizer}}
				</div>
				<div class="flex flex-column">
					<img :src="nowQRcode" class="block w220" >
					<div class="f30 t-c p-t-10">扫码参会</div>
				</div>
			</div>
			<!-- 当前暂无会议 -->
			<div class="progress no-meeting-progress flex flex-column f40 c-333 o6" v-else>
				<img src="/project/meeting/images/ico-booking.svg" class="w270 block o9">
				<div class="o9 m-t-50">
					当前暂无会议
				</div>
			</div>


			<!-- 会议排期 -->
			<div class="waiting f40" v-if="tableList.length>0">
				<table>
					<thead>
						<tr>
							<th class="td1">会议排期</th>
							<th class="td2">会议时间</th>
							<th class="td3">召集人</th>
							<th class="td4">召集部门</th>
						</tr>
					</thead>
				</table>
				<div class="m-t-40 w100p box">
					<table>
						<tbody>
							<tr v-for="v in tableList" :key="v.id">
								<td class="td1">
									<i></i>
									<div class="nowrap td11">
										{{v.name}}
									</div>
								</td>
								<td class="td2">
									<div>{{v.time}}</div>
								</td>
								<td class="td3">
									<div>{{v.department}}</div>
								</td>
								<td class="td4">
									<div class="nowrap td41">
										{{v.organizer}}
									</div>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
			<div class="waiting no-waiting o6" v-else>
				<table>
					<thead>
						<tr>
							<th class="td1">会议排期</th>
							<th class="td2">会议时间</th>
							<th class="td3">召集人</th>
							<th class="td4">召集部门</th>
						</tr>
					</thead>
				</table>
				<div class=" flex flex-column f40 c-333" style="height:100%">
					<img src="/project/meeting/images/ico-booking.svg" class="w270 block o9">
					<div class="o9 m-t-50">
						暂无排期会议
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div>
				让所有人在任何城镇都能住上好酒店
			</div>
		</div>
	</div>
	
	<script src="/project/meeting/js/vue.js"></script>
	<script src="/project/meeting/js/axios.min.js"></script>
	<script src="/project/meeting/js/dayjs.min.js"></script>
	<script>
		let app = new Vue({
			el: '#app', // 绑定Vue实例的挂载点
			data: {
				floor: 802, //楼层
				time:"0000-00-00 00:00:00",
				down:undefined,//倒计时计时器
				
				nowType:false,//当前会议状态 true有会议 false没有会议
				countdown:"00:00",//倒计时会议结束时间
				nowName :"会议名称",//当前会议名称
				nowTime:"00:00 - 00:00",//当前会议时间段
				nowDepartment:"暂无",//当前会议组织人
				nowOrganizer:"暂无",//当前会议部门
				nowQRcode:'images/qrcode.jpg',//二维码
				tableList:[],//排期列表
				show:""
			},
			methods:{
				getTime: function(){
					//当前时间
					var day = dayjs(Date());
					this.time= day.format("YYYY-MM-DD HH:mm:ss")
				},
				//倒计时
				countDown:function(hour,minute){
					//当前时间
					var day =new Date();
					//结束时间
					var end = dayjs().hour(hour).minute(minute);
					// 转换时间戳为小时和分钟表示
					let { hours, minutes } = this.convertTimestampToHoursMinutes(end.valueOf() - day.getTime());
					// 输出结果
					this.countdown = `${this.zero(hours)}:${this.zero(minutes)}`
					if(hours <= 0 && minutes <= 0){
						console.log('会议结束');
						this.nowType = false;
						window.clearInterval(this.down)
					}
				},
				convertTimestampToHoursMinutes:function(timestamp) {
					// 计算小时和分钟
					const hours = Math.floor(timestamp / (1000 * 60 * 60));
					const minutes = Math.floor((timestamp % (1000 * 60 * 60)) / (1000 * 60));
					return { hours, minutes };
				},
				zero:function(num){
					let arr = new Array(2-num.toString().length)
						arr.push(num)
					return arr.join("0");
				}
			},
			mounted:function(){
				//一分钟刷新一次测试
				window.setInterval(()=>{
					window.location.reload();
				},300000)
				window.setInterval(()=>{
					this.getTime()
				},1000)
				this.getTime()
				//console.log(window.location.href);
				setTimeout(()=>{
					//if(window.location.href.includes('v=')){
						let v = window.location.href.split('v=')[1]
					//	if(v == 1){
							this.tableList.push(
								{id:1,name:"项目开发研讨项目开发研讨项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心项目开发研讨项目开发研讨项目开发研讨项目开发研讨"},
								{id:2,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:3,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:4,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:5,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:6,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:7,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:8,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:9,name:"项目开发研讨项目开发研讨项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心项目开发研讨项目开发研讨项目开发研讨项目开发研讨"},
								{id:10,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:11,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:12,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
								{id:13,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"},
							)
							this.nowType= true
							this.nowName = "项目开发研讨项目开发研讨项目开发研讨"
							this.nowTime= "13:00 - 14:00"
							this.nowDepartment= "杜甫"
							this.nowOrganizer= "信息技术中心信息技术中心信息技术中心"
							this.nowQRcode= '/project/meeting/images/qrcode.jpg'
							//this.countdown= "12:00"
							//通过结束时间截取获得计算剩余会议时间
							let arr = this.nowTime.split(" - ")[1].split(':')
							this.down = window.setInterval(()=>{
								this.countDown(arr[0],arr[1])//11:30结束
							},1000)
						//}
					//}
					this.show = "show"
				},50)
				//添加排期
				//this.tableList.push({id:1,name:"项目开发研讨",time:"12:00-13:00",department:"杜甫",organizer:"信息技术中心"})
				//get请求
				// axios.get('/').then(function(res){
				// 	console.log(res)
				// }).catch(()=>{
				// 	console.log(error)
				// })
				// //post请求
				// axios.post('/', {
				// 	firstName: 'Fred',
				// 	lastName: 'Flintstone'
				// }).then(function(res){
				// 	console.log(res);
				// }).catch(function (error) {
				// 	console.log(error);
				// });
				// //多请求并发
				// function getUserAccount() {
				// 	return axios.get('/');
				// }
				// function getUserPermissions() {
				// 	return axios.get('/');
				// }
				// axios.all([getUserAccount(),getUserPermissions()])
				// 	.then(axios.spread(function (acct, perms) {
				// 		//两个请求现已完成
				// 	})
				// );



			}
		});

	</script>


<script>
	// 获取画布和上下文
	var canvas = document.getElementById("background");
	var ctx = canvas.getContext("2d");

	// 设置画布大小
	canvas.width = window.innerWidth;
	canvas.height = window.innerHeight;

	// 创建一个粒子对象
	function Particle(x, y, radius, color, speed) {
		this.x = x;
		this.y = y;
		this.radius = radius;
		this.color = color;
		this.speed = speed;
		this.opacity = Math.random();

		// 更新粒子的位置
		this.update = function() {
			this.x += this.speed.x;
			this.y += this.speed.y;

			// 当粒子移出屏幕时，重新设置位置
			if (this.x > canvas.width + this.radius || this.x < -this.radius ||
				this.y > canvas.height + this.radius || this.y < -this.radius) {
				this.x = Math.random() * canvas.width;
				this.y = Math.random() * canvas.height;
			}

			// 绘制粒子
			ctx.beginPath();
			ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2);
			ctx.fillStyle = this.color;
			ctx.globalAlpha = this.opacity;
			ctx.fill();
		};
	}

	// 创建粒子数组
	var particles = [];
	function random255() {
		//return parseInt(Math.random()*170+70)
		return Math.random()*0.2
	}

	// 初始化粒子
	function init() {
		for (var i = 0; i < 5; i++) {
			var x = Math.random() * canvas.width;
			var y = Math.random() * canvas.height;
			var radius = Math.random() * 200 + 300;
			//var color = `rgba(${random255()},${random255()},${random255()},1)`;
			var color = `rgba(255,255,255,${random255()})`;
			var speed = {
				x: Math.random() * 2 - 1,
				y: Math.random() * 2 - 1
			};
			particles.push(new Particle(x, y, radius, color, speed));
		}
		
		// 绘制初始粒子
		for (var i = 0; i < particles.length; i++) {
			particles[i].update();
		}
	}

	// 动画循环
	function animate() {
		requestAnimationFrame(animate);
		ctx.clearRect(0, 0, canvas.width, canvas.height);

		for (var i = 0; i < particles.length; i++) {
			particles[i].update();
		}
	}

	// 初始化并开始动画
	init();
	animate();

	// // 调整画布大小时重新设置大小
	// window.addEventListener("resize", function() {
	// 	canvas.width = window.innerWidth;
	// 	canvas.height = window.innerHeight;
	// 	init();
	// });
	
</script>


</body>
</html>