<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/vendor/theme/css/site.css">

	<link rel="stylesheet" href="/vendor/fonts/awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/vendor/fonts/web-icons/web-icons.css">

	<script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

</head>

<body class="site-contabs-open site-menubar-unfold ">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">导航</h1>
    </div>
    <div class="page-content container-fluid">

        <div class="panel">
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">胶囊式导航</h4>
                            <div class="example">
                                <ul class="nav nav-pills">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">个人简介</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link disabled" href="javascript:;">消息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">带图标</h4>
                            <div class="example">
                                <ul class="nav nav-pills">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">
                                            <i class="icon wb-home" aria-hidden="true"></i> 首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">
                                            <i class="icon wb-user" aria-hidden="true"></i> 个人简介</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link disabled" href="javascript:;">
                                            <i class="icon wb-chat" aria-hidden="true"></i> 消息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap m-sm-0">
                            <h4 class="example-title">堆叠</h4>
                            <div class="example">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">
                                            <i class="icon wb-home" aria-hidden="true"></i> 首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">
                                            <i class="icon wb-user" aria-hidden="true"></i> 个人简介</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link disabled" href="javascript:;">
                                            <i class="icon wb-chat" aria-hidden="true"></i> 消息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">带下拉菜单</h4>
                            <div class="example">
                                <ul class="nav nav-pills">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">
                                            <i class="icon wb-home" aria-hidden="true"></i> 首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">
                                            <i class="icon wb-help-circle" aria-hidden="true"></i> 帮助
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown" role="presentation">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                                           aria-expanded="false" role="button">
                                            <i class="icon wb-wrench" aria-hidden="true"></i> 更多
                                        </a>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项一</a>
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项二</a>
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项三</a>
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项四</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="panel">
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">选项卡导航</h4>
                            <div class="example">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">线性</h4>
                            <div class="example">
                                <ul class="nav nav-tabs nav-tabs-line">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap m-lg-0">
                            <h4 class="example-title">竖向选项卡</h4>
                            <div class="example">
                                <div class="nav-tabs-vertical">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">竖向线性</h4>
                            <div class="example">
                                <div class="nav-tabs-vertical">
                                    <ul class="nav nav-tabs nav-tabs-line">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
