/*mobile css clear default*/
@charset "utf-8";

/*clear-default end*/
@font-face{
	font-family: 'song';
	src: url('./fonts/song.ttf'),
	url('./fonts/song.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.song {
    font-family: 'song';
}










