<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/vendor/theme/css/site.css">

	<link rel="stylesheet" href="/vendor/fonts/awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/vendor/web-icons/web-icons.css">
	<link rel="stylesheet" href="/vendor/fonts/stroke-7/stroke-7.css">

	<script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <style>
		.page-errors .site-page{height:100vh;margin-left:0}
		.page-errors .site-page .page{background:0 0;height:100vh}
		.page-errors .error-mark{margin-bottom:33px}
		.page-errors header .icon:before{font-size:120px;margin-bottom:20px}
		.page-errors header h1{font-size:120px;color:#76838f}
		.page-errors header h3{margin-top:30px}
		.page-errors header p{margin-bottom:30px;text-transform:uppercase}
		main.site-page .page-errors .page-copyright{display:none}
    </style>
</head>

<body class="page-errors page-maintenance layout-full" data-theme="base">

<div class="site-page">
    <div class="page vertical-align text-center animation-scale-up page-error">
        <div class="page-content vertical-align-middle">
            <header>
                <i class="icon pe-7s-paint" aria-hidden="true"></i>
                <h3>正在维护中…</h3>
                <p>系统正在维护中，请稍后访问</p>
            </header>
            <footer class="page-copyright">
                <p>
                	&copy; 2018
                </p>
            </footer>
        </div>
    </div>
</div>

</body>
</html>
